// Light weight (300)
@font-face {
  font-family: "Rubik";
  src: url("../fonts/static/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../static/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

// Regular weight (400)
@font-face {
  font-family: "Rubik";
  src: url("../fonts/static/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/static/Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Medium weight (500)
@font-face {
  font-family: "Rubik";
  src: url("../fonts/static/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/static/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
